$bg-font-family: 'helvetica', 'sans-serif'; 
$bagde-clr: #eee;
$bagde-new-clr: #FF205F;
$badge-strategy-clr: #4EAE60;
$badge-racing-clr: #694EAE;
$bage-rpg-adventure-clr: #40ABF5;
$badge-tournaments-clr: #FB6E10; 
$badge-prem-tournament-clr: #ffb320; 
$badge-violet: #FF20AE;